<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<title>[Insert wargame name here] - powered by Hazelwire</title>
		<link rel="stylesheet" type="text/css" href="admin.css"></link>
		<script type="text/javascript" src="jquery-1.6.1.min.js"></script>
		<script type="text/javascript" src="buttons.js"></script>
		<script type="text/javascript" src="collapse.js"></script>
	</head>
	<body>
		<div id="container">
			<div id="contestants">
				<div class="content">
					<div class="header">
						<h1>Contestants</h1>
					</div>
					<div id="contestantinfo">
						<ul>
							<li>
								<div class="cban">Ban</div>
								<div class="csubnet">Subnet</div>
								<div class="cpoints">Points</div>
								<div class="cname">Team</div>
							</li>
						</ul>
						<form id="cform">
							<ul class="centries">
								<li>
									<input type="radio" name="contestant" id="teamid1"/>
									<label for="teamid1">
										<div class="cban">10</div>
										<div class="csubnet">10.173.0.0/24</div>
										<div class="cpoints">1337</div>
										<div class="cname">Team 1</div>
									</label>
								</li>
								<li>
									<input type="radio" name="contestant" id="teamid2"/>
									<label for="teamid2">
										<div class="cban">-</div>
										<div class="csubnet">10.0.174</div>
										<div class="cpoints">1024</div>
										<div class="cname">Team 2</div>
									</label>
								</li>
								<li class="offline">
									<input type="radio" name="contestant" id="teamid3"/>
									<label for="teamid3">
										<div class="cban">-</div>
										<div class="csubnet">10.0.79</div>
										<div class="cpoints">666</div>
										<div class="cname">Team 3</div>
									</label>
								</li>
								<li class="offline insane">
									<input type="radio" name="contestant" id="teamid4"/>
									<label for="teamid4">
										<div class="cban">-</div>
										<div class="csubnet">10.0.182</div>
										<div class="cpoints">137</div>
										<div class="cname">Team 4</div>
									</label>
								</li>
								<li class="insane">
									<input type="radio" name="contestant" id="teamid5"/>
									<label for="teamid5">
										<div class="cban">-</div>
										<div class="csubnet">10.0.3</div>
										<div class="cpoints">69</div>
										<div class="cname">Team 5</div>
									</label>
								</li>
							</ul>
						</form>
					</div>
					<div class="buttons">
						<div>
							<input type="button" id="cadd" value="Add" />
							<input type="button" id="cedit" value="Edit" />
							<input type="button" id="cban" value="Ban" />
							<input type="button" id="cdelete" value="Delete" />
							<input type="button" id="cpoints" value="Points" />
						</div>
					</div>
				</div>
			</div>
			<div id="announcements">
				<div class="content">
					<div class="header">
						<h1>Announcements</h1>
					</div>
					<form id="aform">
						<div id="announcementdisplay">
							<ul class="collapsible">
								<li>
									<input type="radio" name="announcement" id="announcement1"/>
									<label for="announcement1">Announcement 1 title
										<div>Announcement 1 content.<br/>
											Sed eu nisl sapien, quis tincidunt purus. Donec id orci dui. Suspendisse potenti. Aliquam auctor neque id erat tristique facilisis. Cras nec felis elit. Curabitur ornare risus quis ipsum aliquet ut pretium nisi rhoncus. Donec placerat mi in purus pellentesque euismod.</div>
									</label>
								</li>
								<li>
									<input type="radio" name="announcement" id="announcement2"/>
									<label for="announcement2">Announcement 2 title
										<div>Announcement 2 content.<br />
											Sed eu nisl sapien, quis tincidunt purus. Donec id orci dui. Suspendisse potenti. Aliquam auctor neque id erat tristique facilisis. Cras nec felis elit. Curabitur ornare risus quis ipsum aliquet ut pretium nisi rhoncus. Donec placerat mi in purus pellentesque euismod.</div>
									</label>
								</li>
								<li>
									<input type="radio" name="announcement" id="announcement3"/>
									<label for="announcement3">Announcement 3 title
										<div>Announcement 3 content.<br />
											Sed eu nisl sapien, quis tincidunt purus. Donec id orci dui. Suspendisse potenti. Aliquam auctor neque id erat tristique facilisis. Cras nec felis elit. Curabitur ornare risus quis ipsum aliquet ut pretium nisi rhoncus. Donec placerat mi in purus pellentesque euismod.</div>
									</label>
								</li>
								<li>
									<input type="radio" name="announcement" id="announcement4"/>
									<label for="announcement4">Announcement 4 title
										<div>Announcement 4 content.<br />
											Sed eu nisl sapien, quis tincidunt purus. Donec id orci dui. Suspendisse potenti. Aliquam auctor neque id erat tristique facilisis. Cras nec felis elit. Curabitur ornare risus quis ipsum aliquet ut pretium nisi rhoncus. Donec placerat mi in purus pellentesque euismod.</div>
									</label>
								</li>
								<li>
									<input type="radio" name="announcement" id="announcement5"/>
									<label for="announcement5">Announcement 5 title
										<div>Announcement 5 content.<br />
											Sed eu nisl sapien, quis tincidunt purus. Donec id orci dui. Suspendisse potenti. Aliquam auctor neque id erat tristique facilisis. Cras nec felis elit. Curabitur ornare risus quis ipsum aliquet ut pretium nisi rhoncus. Donec placerat mi in purus pellentesque euismod.</div>
									</label>
								</li>
							</ul>
						</div>
						<div class="buttons">
							<div>
								<input type="button" id="apost" value="Post" />
								<input type="button" id="aedit" value="Edit" />
								<input type="button" id="adelete" value="Delete" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
