<!--
  Copyright (c) 2011 The Hazelwire Team.
      
  This file is part of Hazelwire.
  
  Hazelwire is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  Hazelwire is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with Hazelwire.  If not, see <http://www.gnu.org/licenses/>.
-->
<hazelwire-module>
	<general-info>
		<name>Test Module 3</name>
		<author>Maarten Rijke</author>
		<date>07-06-2011</date>
		<file>testmodule3_0.2-1ubuntu2_all.deb</file>
		<serviceport editable="true">31337</serviceport>
		<deployscript>/usr/share/hazelwire/testmodule3/manage.py</deployscript>
		<package>
			<name>Hazelwire Test Package</name>
			<id>2</id>
		</package>
		<tags>
			<tag>Network services</tag>
		</tags>
	</general-info>
	<flags>
		<flag>
			<points>50</points>
		</flag>
	</flags>
</hazelwire-module>
