<hazelwire-module>
	<general-info>
		<name>Test Module 3</name>
		<author>Maarten Rijke</author>
		<date>07-06-2011</date>
		<file>testmodule3_0.2-1ubuntu2_all.deb</file>
		<serviceport editable="true">31337</serviceport>
		<deployscript>/usr/share/hazelwire/testmodule3/manage.py</deployscript>
		<package>
			<name>Hazelwire Test Package</name>
			<id>2</id>
		</package>
		<tags>
			<tag>Network services</tag>
		</tags>
	</general-info>
	<flags>
		<flag>
			<points>50</points>
		</flag>
	</flags>
</hazelwire-module>
